@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}


<div class="text-center ">
    <h3>Realmente deseja apagar o contato ()?</h3>
</div>

<div class="d-grid gap-2 col-3 mx-auto py-lg-4">
<a class="btn btn-primary" role="button" asp-asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>
