@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button">Adicionarm novo contato</a>
    </div>

    <br />

    <h1 class="display-4">Listagem de Contatos</h1>


        

</div>
